**************DISNEY PLUS HOTSTAR CLONE*********
-nodejs-npx
-redux
-reacte

Steps:
--Create new componenet inside src
--Install Es7 reactejs component

For Database:
--Install Firebase using "npm install firebase"
--Do configuration